<div class="container mt-5" >
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-bosy">
                    <h1 class="letra">ENCUESTA DE CLASIFICACIÓN DE RIESGO</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card">
            <div class="card-bosy">
                <label class="letra">
                   1. ¿El sistema maneja fluidos considerados como peligrosos o Inmediatamente peligrosos para la vida o la salud?
                </label>
                <br>
                <br>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-success" type="button"  (click)="resultado">SI</button>
                    <button class="btn btn-success" type="button">NO</button>
                </div> 
                <br><br>
                <label class="letra">
                   2. ¿El sistema de tuberías, tanques o recipientes a presión son críticos para la seguridad de los trabajadores (por ejemplo, sistemas de supresión de incendios)?
                </label>
                <br>
                <br>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-success" type="button"  (click)="resultado">SI</button>
                    <button class="btn btn-success" type="button" >NO</button>
                </div> 
                <br><br>
                <label class="letra">
                   3. ¿El sistema opera a presiones superiores o iguales a 150 psig (1,03 MN/m²)?
                </label>
                <br>
                <br>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-success" type="button"  (click)="resultado">SI</button>
                    <button class="btn btn-success" type="button" >NO</button>
                </div>
                <br><br>
                <label class="letra">
                   4. ¿La temperatura del sistema es igual o superior a 120 °F (50 °C)?
                </label>
                <br>
                <br>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-success" type="button"  (click)="resultado">SI</button>
                    <button class="btn btn-success" type="button" >NO</button>
                </div>
                <br><br>
                <label class="letra">
                    5. ¿La temperatura del sistema es igual o inferior a 0 °F (-20 °C)?
                 </label>
                 <br>
                 <br>
                 <div class="d-grid gap-2 col-6 mx-auto">
                     <button class="btn btn-success" type="button"  (click)="resultado">SI</button>
                     <button class="btn btn-success" type="button" >NO</button>
                 </div>
                 <br><br>
                <label class="letra">
                    6. ¿El sistema presenta fuga??
                </label>
                 <br>
                 <br>
                 <div class="d-grid gap-2 col-6 mx-auto">
                     <button class="btn btn-success" type="button"  (click)="resultado">SI</button>
                     <button class="btn btn-success" type="button" >NO</button>
                 </div>
            </div>
        </div>
    </div>
</div>

